@media screen and (max-width:480px) and (min-width:320px){
    .footer-col-main .foo-policy-col {
        flex-direction: column;
    }
    .foo-policy-col p:after{
        content:"" !important;
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .footer-contact,.footer-quick-links {
        margin-top: 25px;
    }
    .footer-title {
        padding-bottom: 5px !important;
    }
    
}
@media screen and (max-width:860px){
    .footer-col-main {
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
    }
}
@media screen and (min-width:1024px){
.footer-contact .footer-title {
    margin-left: 42px;
}
}
@media screen and (max-width:1024px){
    .side-spaceing {
        padding: 10px;
    }
    .footer-main .row{
        flex-wrap: wrap !important;
    }
    .footer-contact-details.col-one-fourth,.footer-contact.col-one-fourth{
        width: 60% !important;
    }
    .footer-our-service.col-one-fourth,.footer-quick-links.col-one-fourth{
        width:40% !important;
    }
    .footer-our-service , .footer-contact{
        max-width: unset !important;
    }
    .foo-policy-col p:after {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
    
}
@media screen and (max-width:768px){
    /* .foo-policy-col p:after{
        margin-right: 15px !important;
        margin-left: 15px !important;
    } */
    .svg-icon{
        width: unset !important;
    }
    .icon-location {
        margin-left: 0px !important;
    }
    .social-icons{
        max-width: 220px !important;
    }
    .footer-col-main .foo-policy-col {
        justify-content: center !important;
    }
}
@media screen and (min-width:768px){
    .footer-col-right{
        display: none;
    }
}
@media screen and (max-width:767px){
    .foo-policy-col a{
        font-size: 14.09px !important;
        line-height: 33.55px !important;
    }
    .footer-title {
        margin-top: 15px;
    }
    .footer-sect .col-one-fourth {
        width: 100% !important;
    }
    #fb-icons svg {
        width: 31px !important;
    }
    .footer-sub-col svg {
        display: none;
    }
    p,.footer-main a {
        font-size: 14.09px !important;
        line-height: 33.55px !important;
    }
    .footer-contact-details img {
        width: 170px;
    }
    .footer-main .row{
        display: block !important;
    }
    .social-icons{
        margin-top: 12px !important;
    }
    .footer-col-main p {
        text-align: center !important;
    }
    .footer-col-main {
        display: block !important;
    }
    .footer-title {
        font-size: 20.71px !important;
        line-height: 49.34px !important;
        padding-bottom: 5px !important;
    }
    .social-icons svg {
        width: 35.27px !important;
    }
}
.site-width{
    max-width: 1340px;
    margin: auto;
    padding-right:10px;
    padding-left:10px
}
.footer-main .site-width{
    padding-top: 76px;
    padding-bottom: 36px;
}
.footer-main{
    background-color: #F4F4F4;
}
.footer-main .row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.footer-our-service {
    max-width: 207px;
}
.footer-contact {
    max-width: 363px;
}
.footer-copyright {
    background: #D8D8D8CC;
}
.footer-sub-col {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-sub-col:last-child{
    align-items: flex-start;
}
.details-spacing{
    margin-left: 12%;
}
.footer-title {
    font-size: 25px;
    font-weight: 600;
    line-height: 59.55px;
    letter-spacing: -0.88px;
    padding-bottom: 26px;
}
.footer-col-main .foo-policy-col {
    display: flex;
}
.footer-col-main {
    display: flex;
    justify-content: space-between;
}
.foo-policy-col p:after {
    content: "|";
    margin-right: 27px;
    margin-left: 27px;
}
p.foo-policy-last:after {
    content: "";
    margin: 0;
}
.foo-site-logo {
    margin-bottom: 32px;
} 
.foo-policy-col a,.footer-main a {
    font-size: 18px;
    font-family: 'montserrat';
    line-height: 35.23px;
    font-weight: 500;
    letter-spacing: -0.16px;
    color: #343434;
    text-decoration: none;
}
.foo-policy-col a:hover,.footer-main a:hover{
    text-decoration: underline;
}
.social-icons {
    margin-top: 47px;
    max-width: 230px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-col2 p,.footer-title {
    white-space: nowrap;
}
.social-icons svg:hover,.footer-contact svg:hover {
    fill: #26D7D7;
}
a#fb-icons {
    margin-top: -1px;
}
.svg-icon {
    width: 42px;
}
.icon-location {
    margin-left: 5px;
}
.svg-icon.icon-location {
    width: 38px;
}
.footer-contact-details.col-one-fourth,.footer-contact.col-one-fourth {
    width: 30%;
}
.footer-our-service.col-one-fourth {
    width: 25%;
}
.footer-quick-links.col-one-fourth {
    width: 15%;
}
.footer-contact-details p {
    max-width: 391px;
}
