@media screen and (max-width:1024px){
    .site-width{
        padding-right:20px !important;
        padding-left:20px !important;
    }  
}
@media screen and (min-width: 801px){
    h1.about-head:before, .life-col h2:before, h2.about-head:after, .selector-content h3:after  {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: #26D7D7;
        border-radius: 50%;
        z-index: -1;
    }
}
    
*{
    margin: 0;
}
:root{
    --blue:#26D7D7;
}

h1 {
    font-family: 'Oswald';
    font-size: 150px;
    line-height: 180px;
    letter-spacing: -0.16px;
    font-weight: 600;
    color: #4f4f4f;
    text-transform: uppercase;
}
h2 {
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 52.46px;
    line-height: 66.99px;
    letter-spacing: -0.16px;
}
h3{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48.8986px;
line-height: 96px;
}
p {
    font-size: 18px;
    font-family: 'montserrat';
    line-height: 35.23px;
    font-weight: 500;
    letter-spacing: -0.16px;
}

/*.row {
    display: flex;
    justify-content: space-between;
}*/
.max-wdth-sec{
    max-width: 1200px;
    margin: auto;
    
}
a.gradiant-btn,  a.gradiant-btn-abt{

    font-size: 23px;
    color: #000;
    text-transform: uppercase;
    font-family: 'Oswald';
    padding: 14px;
    border: 1px solid;
    width: 35%;
    cursor: pointer;
    margin-top: 40px;
    border: solid 4px transparent;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa); */
    border-image: linear-gradient(to bottom, #41BEBE 0%, #2287E0 100%) 1;
    background-origin: border-box;
    /* background-clip: content-box, border-box; */
    box-shadow: 2px 1000px 1px #fff inset;
    text-decoration: none;
    text-align: center;
}
.row{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
    

}
.col-one-fourth{
    width:25%;
}
.col-half,.col-left,.col-right{
    width: 50%;
}

.main{
	width: 100%;
	height: auto;
}

.site-width{
	max-width: 1300px;
	margin: auto;
}
.circle-head:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #26D7D7;
    position: absolute;
    border-radius: 25px;
    margin-left: -17px;
    margin-top: 0px;
    z-index: -1;
}