

@-ms-viewport{
    width: device-width;
  }


  @media screen and (min-width:1025px) and (max-width:1920px){

    .banner h1 {
        font-size:8vw;
        letter-spacing: 5.5px;
        line-height: 10.5vw;
    }

    h2{
        font-size: 3vw;
        line-height: 4vw;
        letter-spacing: 2px;
  
    }
    .col-left h3, .column h3 {
        font-size: 1.5vw;
        line-height: 1.5vw;
        
    } 


  }

  /*@media screen and (max-width:1024px){
    .banner h1 {
        font-size:6vw;
        line-height: 8.5vw;
    }

    h2{
        font-size: 3.5vw;
        line-height: 5.5vw;
       
  
    }
  }*/


  @media screen and (min-width:1921px){
    .banner h1{
        font-size: 160px;
        line-height: 175px;
    }
    h2{
        font-size: 56px;
        line-height: 66px;
    }
    .col-left h3, .column h3 {
        font-size: 27px;
        line-height: 30px;
       
    }



  }
  
  body{
      margin: 0px;
      padding:0px;
  }
  
  
  .banner h1 {
        color: #0E0E0E;
        margin-top: 0px;
        font-family: 'Oswald', sans-serif;
    }

    h2{
        font-family: 'Oswald';
        font-weight: 600;
        color: #252424;
        letter-spacing: 2px;
  
    }

  p{
      font-size: 16px;
      line-height: 31px;
      color: #4F4F4F;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
  
  }
  
  
  .main{
      width: 100%;
      height: auto;
  }
  
  .site-width{
      max-width: 1300px;
      margin: auto;
  }
  
  .max-wdth-sec{
      max-width: 1200px;
      margin: auto;
  }
  
  
  .row{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding-left: 20px;
      padding-right: 20px;
  
  }
  
  /* section {
      padding-left: 10px;
      padding-right: 10px;
  } */
  
  .banner{
      width: 100%;
      height: 700px;
      position: relative;
      /* background: linear-gradient(180deg, #F1F1F1 0%, rgba(241, 241, 241, 0) 100%, #F1F1F1 100%); */
  /* transform: rotate(-180deg); */ 
       text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url("../images/home-images/home-bg-main.png");
      background-size: cover; 
      background-repeat: no-repeat;
      padding-top: 40px;
      position: relative;
      height: 100vh;
  }
  
  
  
  .banner span{
    color: #26D7D7;
  }
  
  .banner h2{
      font-size: 150px;
      color: #26D7D7;
      letter-spacing: 5.5%;
      letter-spacing: 5.5px;
      margin-top: 0px;
      /* margin-bottom: 0px; */
      font-family: 'Oswald', sans-serif;
  }
  
  
  
  .col-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  .col-left h3, .column h3 {
      color: #41BEBE;
      font-family: 'Oswald';
      font-weight: 400;
      margin-bottom: 0px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }
  
  .col-left h2, .column h3{
      margin-top: 0px;
      margin-bottom: 10px;
      text-transform: uppercase;
      
  }
  .about-sec .col-right {
      width: 60%;
      padding-left: 50px;
      position: relative;
  }
  .abt-img-top{
  position: relative;
  }

  .abt-img-top:before {
    content: url(./images/home-images/DOTS-img.svg);
    top: 35px;
    /* left: 9px; */
    z-index: -1;
    right: 0px;
    position: absolute;
}
  
  .abt-img-top {
      display: flex;
      justify-content: center;
  }
  .abt-img-bott {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  img.abt-img-lft {
      margin-top: -30px;
  }
  img.abt-img-rgt {
      padding-left: 40px;
      padding-top: 34px;
  }
  
  .abt-img-top:after {
      content: "";
      position: relative;
      width: 24px;
      height: 58px;
      background: rgba(2, 75, 199, 0.5);
      mix-blend-mode: multiply;
      z-index: 99999999999;
      right: 130px;
      top: -30px;
  }
  
  
  
  img.abt-img-rgt:after {
      content: url("./image/circle-img.png");
      position: absolute;
      position: absolute;
      top: 50px;
      right: 0px;
  }

  
  .about-sec h2:after {
      content: "";
      width: 40px;
      height: 40px;
      background: #26D7D7;
      position: absolute;
      border-radius: 25px;
      /* margin-left: -17px; */
      /* margin-top: 0px; */
      z-index: -1;
      left: -15px;
      top: 51px;
  }
  
  .about-sec .col-left{
  position: relative;
  }
  
  
  .about-sec {
      padding-top: 98px;
      padding-bottom: 100px;
  }
  
   a.gradiant-btn{
  
      font-size: 23px;
      color: #000;
      font-family: 'Oswald';
      padding: 14px;
      border: 1px solid;
      width: 35%;
      cursor: pointer;
      margin-top: 40px;
      border: solid 4px transparent;
      /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa); */
      border-image: linear-gradient(to bottom, #41BEBE 0%, #2287E0 100%) 1;
      background-origin: border-box;
      /* background-clip: content-box, border-box; */
      box-shadow: 2px 1000px 1px #fff inset;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
  }
  
  .about-sec a.gradiant-btn:after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      border: 4px solid #26D7D7;
      border-radius: 50%;
      right: 0;
  }
  
  
  .abt-img-top img, .abt-img-lft, .abt-img-rgt{
      filter: grayscale(1);
  }
  .abt-img-top img:hover, .abt-img-lft:hover, .abt-img-rgt:hover{
      filter: unset;
  }
  
  .arrow-lern{
      padding-left: 15px;
  }
  .counter-sec{
      padding-bottom: 100px;
      /* margin-top: 100px; */
  }
  
  
  
  .swiper-sec .swiper {
      width: 100%;
      height: 100%;
    }
  
    .swiper-sec .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  
    .swiper-sec .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    section.swiper-sec {
        background: #F1F1F1;
        padding-top: 35px;
        padding-bottom: 60px;
    }

    .swiper-sec .head{
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 30px;
        z-index: 1;
    }
    .swiper-sec .swiper-pointer-events{
        min-height: 160px;
    }
     
  
  
    .block-three p{
        text-align: right;
    }
   
  
  
  .block {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 50px;
      border-radius: 50%;
  }
  
  /* .box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      border-radius: 50%;
      background-color: #292929;
      box-shadow: 0 0 5px 3px #222121;
  } */
  
  /* .box::before {
      position: absolute;
      content: '';
      width: calc(100% + 28px);
      height: calc(100% + 28px);
      border-radius: 50%;
      border: 1px solid #353535;
  } */
  
  .box .number span {
      color: #e9e9e9;
  }
  
  .box .number .num {
      font-size: 85px;
      font-weight: bold;
      color: #252424;
      font-weight: 500;
      font-family: 'Oswald';
  
  }
  
  
  .box .number .sub {
      font-size: 85px;
      color: #252424;
      font-weight: 500;
  
  }
  
  .box .title {
      font-size: 15px;
      color: #9b9b9b;
  }
  
  /* .dots {
      display: block;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: 2s transform, 2s opacity ease;
      top: -110px;
      left: -66px;
      position: absolute;
  } */
  /* 
  .dots::after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 5px;
      left: 50%;
      border-radius: 50%;
      background-color: #b7b5b5;
      box-shadow: 0 0 5px 2px #585858;
      transform: translateX(-50%);
  } */
  
  .block-one .svg, .block-three svg  {
      position: absolute;
      /* width: 100%; */
      /* height: 100%; */
      fill: none;
      transform: rotate(-90deg);
      top: -100px;
      left: -26px;
      width: 150px;
      height: 150px;
      z-index: -1;
  
  }
  
  .block-two .svg {
      position: absolute;
      /* width: 100%; */
      /* height: 100%; */
      fill: none;
      transform: rotate(-90deg);
      top: -100px;
      left: 8px;
      width: 150px;
      height: 150px;
      z-index: -1;
  
  } 
  .sub-col .block-two p{
    text-align: center !important;
  }
  
  .block-one p, .block-two p, .block-three p  {
      font-size: 22px;
      line-height: 35px;
      color: #5E5B5B;
      font-family: 'Oswald';
      font-weight: 500;
      text-align: right;
      margin-top: 0px;
      letter-spacing: 1.5px;
  }
  
  p.cmpnny-txt {
      color: #252424;
      text-align: tr;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1.5px;
      font-family: 'Oswald';
      font-weight: 500;
      padding-bottom: 5px;
  }
  span.num-cmpny {
      font-size: 96px;
      font-weight: bold;
      color: #252424 !important;
      font-weight: 500;
      font-family: 'Oswald';
  }
  .block-one{
      padding-right: 80px;
  }
  
  
  
  
  
  .block-one .circle {
      stroke: url(#gradientStyle);
      stroke-width: 6px;
      stroke-dasharray: 503;
      stroke-dashoffset: 503;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: 1s stroke-dashoffset;
  }
  
  .block-three circle{
      stroke: url(#gradientStyle);
      stroke-width: 6px;
      stroke-dasharray: 503;
      /* stroke-dashoffset: 503; */
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: 1s stroke-dashoffset;
  } 
  
  .block-two .circle {
      stroke: url(#gradientStyle);
      stroke-width: 6px;
      /* stroke-dasharray: 503; */
      /* stroke-dashoffset: 503 */
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      transition: 2s stroke-dashoffset;
  }
  
  
  
  .counter-sec .col-right{
  
      display: flex;
      width: 50%;
      justify-content: center;
  }
  .counter-sec .col-left{
      width: 50%;
      padding-right: 30px;
        
  }
  
  .sub-col, .sub-col-second{
      display: flex;
  }
  
  .counter-sec .col-right{
      flex-direction: column;
      padding-left: 90px;
      padding-top: 220px;
  
  }
  .sub-col-second{
      padding-top: 100px;
  }
  
  
  
  
  
  /* svg circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: #26D7D7;
      fill: none;
      animation: countdown 10s linear infinite forwards;
    }
  
    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }
  
    
      @keyframes circle-block {
          from {
            stroke-dashoffset: 0px;
          }
          to {
            stroke-dashoffset: 113px;
          }
        } */
  
  
  
        .zx-portfolio-sec .col-right{
          width:50%;
        }
        .zx-portfolio-sec .col-left{
          width: 50%;
          padding-left: 120px;
          position: relative;
        }
  
        .zx-portfolio-sec h2:after, .zx-portfolio-sec h2:after {
          content: "";
          position: absolute;
          width: 40px;
          height: 40px;
          background: #26D7D7;
          border-radius: 50%;
          left: 94px;
          top: 58px;
          z-index: -1;
      }
  
      section.zx-portfolio-sec {
          padding-bottom: 220px;
          padding-top: 75px;
      }
  
      .location-sec .column{
          width: 100%;
  
      }
      .center{
          text-align: center;
      }
      .location-sec h2 {
          margin-top: 0px;
          text-transform: uppercase;
      }
      section.location-sec {
          padding-bottom: 70px;
      }
  
      img.map-img {
          padding-top: 30px;
      }
  
      
  
  
      .wrk-us-sec{
          width: 100%;
          position: relative;
           text-align: center;
          /* display: flex; */
          /* flex-direction: column; */
          justify-content: center;
          background: url("../images/home-images/PATCH-bottom.png");
          background-size: cover;
          background-repeat: no-repeat;
          padding-top: 80px;
          padding-bottom: 100px;
          
      }
  
      /*section.wrk-us-sec:after {
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          background: #47CCCC;
          opacity: 0.7;
          top: 0;
          left: 0;
      }*/
      .wrk-us-sec .col-left{
          width: 70%;
      }
  
      .wrk-us-sec .col-right{
       width: 30%;
       z-index: 111;
       width: 30%;
      z-index: 111;
      height: 275px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      }
      .wrk-us-sec h2 {
          z-index: 111111111;
          text-align: left;
      }
      .wrk-us-sec h3 {
          color: #242323;
          text-align: left;
          letter-spacing: 1.5px;
          z-index: 111;
          font-weight: 600;
  
      }
  
  
      .wrk-us-sec .line-img {
          z-index: 1;
          width: 100%;
          max-width: 670px;
          padding-top: 50px;
      }
  
      .wrk-us-sec .col-right a{   
           font-size: 23px;
          color: #232323;
          font-family: 'Oswald';
          padding: 18px;
          border: 0px;
          width: 63%;
          cursor: pointer;
          background-color: #fff;
          text-decoration: none;
          text-transform: uppercase;
      }

      .head{
        position: relative;
      }
      .head h2:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: #26D7D7;
        mix-blend-mode: normal;
        border-radius: 50%;
        z-index: -1;
        left: 38.7%;
    }


    /* @keyframes shake {
        10%,
        90% {
          transform: translate3d(-1px, 0, 0);
        }
      
        20%,
        80% {
          transform: translate3d(2px, 0, 0);
        }
      
        30%,
        50%,
        70% {
          transform: translate3d(-4px, 0, 0);
        }
      
        40%,
        60% {
          transform: translate3d(4px, 0, 0);
        }
      }
      
      .bub{
        border-radius: 50%;
        position: absolute;
        box-shadow: 0px 0px 36px 0px #555b6e88;
        display: inline-block;
        animation: shake 0s infinite ease-in-out;
      }
       */


    .bubles-main{
        /*position: relative;*/
        /*height: 300px;*/
      }



       .bubbles {
        /* animation properties */
        animation-name: my-animation;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
       /* width: 213px;
        height: 213px;*/
       /* border-radius: 50%;*/
        position: absolute;
        left: 0; 
        right: 0; 
        /*margin-left: auto;
        margin-right: auto; 
      */
      }

       .bubbles-second{
        /* animation properties */
        animation-name: my-animationsecond;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        /*width: 50px;*/
        /*height: 50px;*/
        /*border-radius: 50%;*/
        position: absolute;
        left: 0; 
        right: 0; 
        /*margin-left: auto;
        margin-right: auto; 
      */
      }
      

       .bubbles-third{
        /* animation properties */
        animation-name: my-animationthird;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto;
        margin-right: auto; 
      
      }

       .bubbles-fourth{
        /* animation properties */
        animation-name: my-animationfourth;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      /*  width: 50px;
        height: 50px;*/
        /*border-radius: 50%;*/
        position: absolute;
        left: 0; 
        right: 0; 
      /*  margin-left: auto;
        margin-right: auto; 
      */
      }

        .bubbles-fifth{
        /* animation properties */
        animation-name: my-animationfifth;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      /*  width: 50px;
        height: 50px;*/
        /*border-radius: 50%;*/
        position: absolute;
        left: 0; 
        right: 0; 
      /*  margin-left: auto;
        margin-right: auto; 
      */
      }

        .bubbles-sixth{
        /* animation properties */
        animation-name: my-animationsixth;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      /*  width: 50px;
        height: 50px;*/
        /*border-radius: 50%;*/
        position: absolute;
        left: 0; 
        right: 0; 
      /*  margin-left: auto;
        margin-right: auto; 
      */
      }




 @keyframes my-animation {
        from {
          /*background-color: #1DE6E6;*/
          /*width: 213px;*/
          top: 50%;
          right:30%;
          
        }
        to {
          /*background-color: #33475b;*/
          /*width: 213px;*/
          top: 100px;
          right: 20%;
        }
      }


      
      @keyframes my-animationsecond{
        from {
          /*background-color: #ff7a59;*/
          width: 50px;
          top: 10px;
          left:50%;
          
        }
        to {
          /*background-color: #1DE6E6;*/
          width: 50px;
          top: 50%;
          left:30%;
        }
      }

      @keyframes my-animationthird{
        from {
          /*background-color: #ff7a59;*/
          width: 50px;
          top: 10px;
          left:50%;
          
        }
        to {
          /*background-color: #1DE6E6;*/
          width: 50px;
          top: 50%;
          left:30%;
        }
      }


      @keyframes my-animationfourth{
        from {
          /*background-color: #ff7a59;*/
          width: 50px;
          top: 10px;
          left:50%;
          
        }
        to {
          /*background-color: #1DE6E6;*/
          width: 50px;
          top: 50%;
          left:30%;
        }
      }


       @keyframes my-animationfifth{
        from {
          /*background-color: #ff7a59;*/
          width: 50px;
          top: 10px;
          left:50%;
          
        }
        to {
          /*background-color: #1DE6E6;*/
          width: 50px;
          top: 50%;
          left:30%;
        }
      }


       @keyframes my-animationsixth{
        from {
          /*background-color: #ff7a59;*/
          width: 50px;
          top: 10px;
          left:50%;
          
        }
        to {
          /*background-color: #1DE6E6;*/
          width: 50px;
          top: 50%;
          left:30%;
        }
      }

