@media screen and (min-width:1025px){
  .service-main h2 {
    font-size: 3.1vw !important;
    line-height: 4vw !important;
  }
  p {
    font-size: 1.1vw;
    line-height: 2.3vw;
  }
  h1.service-heading {
    font-size: 3.5vw !important;
    line-height: 3.6vw !important;
  }
}
@media screen and (max-width:1200px) and (min-width:1025px) {
  .testimonial-profile {
    max-width: 222px !important;
}
.testimonial-review {
    margin-left: 50px !important;
    margin-top: -99px !important;
}
}
@media screen and (max-width:1024px){
.service-tech-sect .col-right img, .service-Conquer-sect .col-left img{
    padding-bottom: 30px;
}
.service-tech-sect p, .service-Conquer-sect p {
    padding-top: 15px !important;
}
   .testimonial-review {
    margin-left: unset !important;
    margin-top: -65px !important;
} 
  .testimonial-profile {
    max-width: 222px !important;
    margin-right: unset !important;
}
.testimonial {
    text-align: center !important;
}
.testimonial-review p {
    padding-top: unset !important;
}
.testimonial-review {
    padding: 130px 20px 43px 20px !important;
}
.service-nav {
    display: none !important;
}
.service-content .service-site-width {
    margin-left: unset !important;
}
.service-content {
    max-width: unset !important;
    margin-left: unset !important;
}
.service-tech-sect .col-right{
  text-align: unset !important;
}
.rect-bg {
  right: -20px !important;
}
.service-Conquer-sect .col-right {
  padding-left: unset !important;
}
.service-content{
  padding: 0px 20px !important;
}
.service-tech-sect .col-left, .service-tech-sect .col-right, .service-Conquer-sect .col-left, .service-Conquer-sect .col-right {
  width: 100% !important;
}
.service-tech-sect {
  display: flex;
  flex-direction: column-reverse;
  align-items: unset !important;
}
.service-Conquer-sect{
  display: flex;
  flex-direction: column;
  align-items: unset !important;
}
}
/* -------------- */


body{
  margin: 0;
}

.service-main {
    overflow: hidden;
}
.service-main h2 {
  text-transform: uppercase;
}
.service-main {
  background-color: #00000040;
  min-height: 100vh;
}
.service-sect {
  max-width: 1920px;
  margin: auto;
}
.service-main .header-circle {
  margin-bottom: -43px;
  margin-left: -16px;
}
.pop-up {
  max-width: 149px;
  width: 100%;
  height: auto;
  border: 3px solid var(--blue);
  border-top-style: none;
  background: #252424;
  padding: 20px 0px 40px 0px;
  border-radius: 0px 0px 100px 100px;
  box-shadow: 9px 0px 4px 0px #00000040;
  float: right;
  margin-right: 10%;
}
.pop-up a {
  text-decoration: none;
}
.pop-up p {
  font-family: "Oswald" !important;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.service-nav {
  display: inline-block;
  width: 348px;
}
.service-content {
  max-width: 1502px;
  margin-right: 0px;
  margin-left: 348px;
  background: rgb(255, 255, 255) !important;
  padding: 0px 10px;
}
.service-nav {
  position: fixed;
  height: 100vh;
  background: #231f20;
}
.service-nav-content {
  margin-top: 50px;
  margin-left: 10px;
  max-height: 700px;
  height: 100%;
}
.service-nav-content a {
  font-family: "Oswald";
  max-width: 290px;
  width: 100%;
  margin: 0px 0px 40px 10px;
  padding: 10px 0px 10px 38px;
  border-radius: 25px 0px 0px 25px;
  transition: 0.3s;
}
.service-nav-content a {
  font-size: 30px;
  line-height: 36.36px;
  color: #fff;
  text-decoration: none;
}
.service-nav-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.service-nav-content a:hover,
.service-nav-content a:active {
  background-color: #fff;
  color: #000;
}
.service-nav-content .site-logo {
  background-color: unset !important;
  color: unset !important;
}
.service-content .service-site-width {
  margin-left: 20px;
}
h1.service-heading {
  font-size: 52.46px;
  line-height: 57.29px;
  letter-spacing: -0.16px;
  color: #252424;
}
.service-nav-content .btn svg {
  margin-left: 16px;
}
.service-nav-content .btn {
    border-radius: 0px;
    padding: 10px 0px 10px 36px;
    max-width: 211px;
    margin-left: 42px;
    border: solid 4px transparent;
    border-image: linear-gradient(to left, #41bebe 0%, #2287e0 100%) 1;
    background-origin: border-box;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 34.09px;
    letter-spacing: 1.12px;
}
.service-Conquer-sect .btn {
  padding: 10px 0px 10px 0px;
  max-width: 263px !important;
  width: 100% !important;
  border: solid 4px transparent;
  border-image: linear-gradient(to left, #41bebe 0%, #2287e0 100%) 1;
  background-origin: border-box;
  display: inline-block;
  text-align: center;
  color: #252424;
  font-weight: 500;
  font-size: 23px;
  line-height: 34.09px;
  letter-spacing: 1.12px;
  text-decoration: none;
  font-family: "Oswald";
  margin-top: 40px;
}
.service-nav-content .btn:hover,
.service-nav-content .btn:active {
  background-color: unset;
  color: #fff !important;
}
p.bread-crump {
  font-size: 16px;
  line-height: 31.31px;
  font-weight: 600;
  color: #bababa;
  font-style: italic;
  padding-bottom: 10px;
}
h1.service-heading {
  padding-bottom: 30px;
}
section.service-tab-sect {
  padding-top: 94px;
}
/* .service-circle-head:before {
  content: "";
  width: 40px;
  height: 40px;
  background: #26d7d7;
  position: absolute;
  border-radius: 25px;
  margin-left: -17px;
  margin-top: 0px;
  z-index: 0;
} */
.service-tech-sect,
.service-Conquer-sect {
  display: flex;
  align-items: center;
  padding-top: 59px;
  position: relative;
}
.service-tech-sect h2 span,
.service-Conquer-sect h2 span,
.service-testimonial h2 span {
  color: #26d7d7;
}
.service-tech-sect p {
  padding-top: 46px;
}
.service-Conquer-sect .col-right p {
  padding-top: 33px;
}
.centered {
  text-align: center;
}
.service-testimonial h2 {
  padding-top: 150px;
}
.service-testimonial .sub-head {
  max-width: 935px;
  margin: auto;
  padding-top: 35px;
}
.rectangle-bg {
    position: absolute;
    z-index: 0;
    right: -10px;
    height: unset !important;
    width: unset !important;
}
.service-Conquer-sect .col-right {
  z-index: 1;
  padding-left: 20px;
}
.testimonial-profile img {
  width: 100px;
}
.testimonial-profile {
    max-width: 258px;
    width: 100%;
    border: 1px solid #26d7d7;
    text-align: center;
    padding: 40px 0px 40px 0px;
    box-shadow: 0px 4px 13px 0px #00000040;
    background-color: #fff;
    display: inline-block;
    margin-right: 50%;
}
.testimonial-review {
    margin-left: 192px;
    margin-top: -113px;
}
.testimonial-review p {
    max-width: 564px;
    margin: auto;
    text-align: center;
    padding-top: 19px;
}
.testimonial-review {
    box-shadow: 0px 4px 13px 0px #00000040;
    padding: 81px 20px 43px 20px;
    background: #fff;
}
.testimonial {
    padding-top: 63px;
    padding-bottom: 100px;
    display: block;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}
h3.profile-name {
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 2.56px;
    color: #26D7D7;
}
.rect-bg {
  position: absolute;
  width: 10%;
  height: 100%;
  display: block;
  background: #26D7D7;
  z-index: 0;
  right: -10px;
}
.service-tech-sect .col-right {
    text-align: right;
}
.service-tech-sect img, .service-Conquer-sect img {
    max-width: 100%;
}
.service-tech-sect .col-left {
  padding-right: 20px;
}
.service-tabs {
  display: flex;
}
/* ----tabs---- */

 
/* ------------- */
.swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        background: #fff;
        width: 100%;
      }

.swiper-slide {
        /* text-align: center; */
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        /* -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center; */
        align-items: flex-start;
      }

    .swiper-button-next {
  background-image: url(../images/service/right\ arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 16px;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev {
  background-image: url(../images/service/left\ arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 16px;
}

.swiper-button-prev::after {
  display: none;
}
.quote-sign {
    font-weight: 500;
    font-size: 128px;
    font-family: 'Oswald';
    color: #252424;
}