
/* .sevice-seprator {
    display: flex;
    background-color: #231F20;
} */
.service-content-sect{
    background-color: #fff;
}
.sevice-seprator {
    display: flex;
    background-color: #231F20;
}
.service-nav-sect {
    /* width: 23%; */
    background-color: #231F20;
    padding-top: 45px;
}
.service-nav-sect a {
    font-size: 30px;
    line-height: 36.36px;
    color: #fff;
    text-decoration: none;
}
.sevice-containt {
    display: flex;
    flex-direction: column;
}
.service-nav-sect a {
    font-family: 'Oswald';
    max-width: 300px;
    width: 100%;
    margin: 0px 0px 40px auto;
    padding: 10px 0px 10px 38px;
    border-radius: 25px 0px 0px 25px;
    transition: 0.3s;
}
.sevice-containt img {
    max-width: 300px;
    margin: 0px 118px 41px auto;
}
.service-nav-sect a:hover , .service-nav-sect a:active {
    background-color: #fff;
    color: #000;
}
.pop-up {
    max-width: 149px;
    width: 100%;
    height: auto;
    border: 3px solid var(--blue);
    border-top-style: none;
    background: #252424;
    padding: 20px 0px 40px 0px;
    border-radius: 0px 0px 100px 100px;
    box-shadow: 9px 0px 4px 0px #00000040;
    float: right;
    margin-right: 10%;
}
.pop-up a {
    text-decoration: none;
}
.pop-up p {
    font-family: 'Oswald' !important;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.pop-up span {
    font-weight: 700;
}
/* .service-content-sect{
    margin-left: 84px;
} */
.service-content-sect {
    width: calc(100% - 25%);
    margin-left: 22.6%;
}
.service-main-body .col-left {
    width: 25%;
    position: fixed;
    height: 100vh;
    background: #231F20;
}
p.bread-crump {
    font-size: 16px;
    line-height: 31.31px;
    font-weight: 600;
    color: #bababa;
    font-style: italic;
    padding-bottom: 10px;
}
h1.service-heading {
    padding-bottom: 30px;
}
.service-tech-row {
    padding-top: 53px;
    display: flex;
}
.service-tech-row span {
    color: var(--blue);
}
.service-tech-row .col-half ,.conquer-with-zedex-sect .col-half{
    /* width: 38.5% !important; */
    align-self: center;
}
.col-half img {
    width: 590px;
}
.service-site-width {
    max-width: 1200px;
    margin: 0px auto 0px 30px;
    padding: 0px 10px;
}
/* .rect-box {
    height: 100%;
    max-height: 634px;
    width: 10%;
    background: var(--blue);
    position: absolute;
    right: 0;
    z-index: 0;
} */
.conquer-with-zedex-content.col-half {
    z-index: 1;
}
.bread-crump {
    padding-top: 94px;
}
.service-tech-row img {
    max-width: 525px;
}
.service-nav-row {
    width: 18%;
    position: fixed;
    height: 100vh;
    background: #231F20;
}
a.gradiant-btn {
    font-size: 23px;
color: #000;
font-family: 'Oswald';
padding: 14px;
border: 1px solid;
width: 35%;
cursor: pointer;
margin-top: 40px;
border: solid 4px transparent;
border-image: linear-gradient(to bottom, #41BEBE 0%, #2287E0 100%) 1;
background-origin: border-box;
box-shadow: 2px 1000px 1px #fff inset;
text-decoration: none;
text-align: center;
}
.conquer-with-zedex-content p {
    padding-bottom: 40px;
}
.conquer-with-zedex-sect {
    background-image: url(../images/service/rectangle-bg.png);
    background-size: contain;
}
.conquer-with-zedex-sect {
    background-image: url(../images/service/rectangle-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sevice-seprator {
    max-width: 1920px;
    margin: auto;
}
.service-main-body {
    background-color: #5e5e5e;
}